header {
    background-color:#2D2A2A;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.logo {
    width: 35%;
    height: 50%;
    padding-right: 10vh;
}
.search {
    border-radius: 5vh;
    height: 4vh;
    width: 50vh;
}
.head {
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    background-color: #1a1919;
}
.buttonstock{
    display: flex;
    height: 30vh;
    gap:15vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
}
.buttonstock button:hover {
    background-color: #db6723; 
}
.buttonstock button{
    background-color: #D9D9D9; 
    border: none;
    border-radius: 25px; 
    padding: 10px 30px; 
    font-size: 16px;
    color: black; 
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}