body {
    margin: 0;
    padding: 0;
    background-color:#2D2A2A;
}
header {
    background-color:#121111;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid #ffffff 1px;
}
.logo {
    width: 35%;
    height: 50%;
    padding-right: 10vh;
}
.search {
    border-radius: 5vh;
    height: 4vh;
    width: 50vh;
}
.head {
    display: flex;
    align-items: center;
    justify-content: center;
}
.scrollContainer {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
.scrollItem {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    height: 65vh;
    width: calc(65vh*210/297);
    display: inline-block;
    background-image: url(../img/NVKZ5_1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
/* .cardstock {
    display: flex;
    width: 100%;
}
.card {
    height: 65vh;
    background-image: url(../img/NVKZ5\ (1).webp);
    width: 50vh;
    background-repeat: no-repeat;
} */

.buttonstock{
    display: flex;
    height: 20vh;
    gap: 6vh;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    padding-top: 5vh;
}
.buttonstock button:hover {
    background-color: #db6723; 
}
.buttonstock button{
    background-color: #D9D9D9; 
    border: none;
    border-radius: 25px; 
    padding: 1vh 3vh; 
    font-size: 16px;
    color: black; 
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}